<!DOCTYPE html>
<html>
<head>
  <title>WikiPlaylist <% if content_for?(:title) %> | <%= yield :title %><% end %></title>
  <meta name="viewport" content="initial-scale=1,user-scalable=yes">
  <% if content_for?(:meta) %>
    <%= yield :meta %>
  <% else %>
    <%= render 'layouts/meta' %>
  <% end %>
  <link rel="apple-touch-icon" href="/images/favicon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link href="https://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <% if Rails.env.production? || Rails.env.local_production? || Rails.env.test? %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= render 'layouts/react_hot_assets' %>

<% if Rails.env.production? %>
  <%= render 'layouts/piwik' %>
<% end %>
</body>
</html>
